
<h1>{{title}}</h1>

Handlebars
<form action="/memories" method="post" enctype="multipart/form-data" >
  <input name="image" type="file" required>
  <!-- <input type="text" name="title" value="" placeholder="Img title" >
  <input type="text" name="description" value="" placeholder="Img Description" > -->
  <br/>
  <input type="text" name="title" value="" placeholder="image title">

  <button type="submit">Post</button>
</form>


<div class="">

</div>

<!-- {{#each images}}
  <div class="admin_image_thumbnails">
    <a href="#">
      <img src='{{image_url}}' alt="">
    </a>
  </div>
{{/each}} -->
