
body{
  font: 1em Calibri, Optima, Arial, sans-serif;
}

.crsr-pntr{
  cursor:poiner;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
  display:none;
}

.geosuggest__suggests{
  cursor:pointer;
  position:absolute;
  max-height: 25em;
  padding: 0;
  /*margin-top: -1px;*/
  background: #fff;
  border: 1px solid #267dc0;
  /*border-top-width: 0;*/
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__item:hover{
  background:linen;
}
.geosuggest__suggests--wrapper{
  color:red;
  /*display:none;*/
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
/*.info_img{
  transition: all .2s ease-in-out;
}
.info_img:hover{
  transform: scale(1.1);
  border:1px solid white;
}*/
